ansible_ssh_common_args: '-o ProxyCommand="ssh -i {{ ansible_env.HOME }}/.ssh/{{ keypair_name }}-W %h:%p -q {{ image_user }}@{{ docker_public }}'
manager_ip: {{ remote_ip }}
swarm_join_token: {{ join_token }}